<ui-message>
  <div class="input-group">
    <span class="input-group-addon">
      主机
    </span>
    <input [(ngModel)]="credentials.host" required type="text" class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      端口
    </span>
    <input [(ngModel)]="credentials.port" required type="text" class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      账户
    </span>
    <input [(ngModel)]="credentials.username" required type="text" class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      密码
    </span>
    <input [(ngModel)]="credentials.password" required type="password" class="form-control">
  </div>
  <hr>
  <div>
    <button type="submit" class="btn btn-block btn-primary" (click)="login()">
          登录
    </button>
  </div>
</ui-message>
