<div>
  <div class="layout-header">
    <div class="container">
      <div class="col-lg-6 offset-lg-3">
        <div class="btn-group" role="group">
          <button class="btn btn-outline-info" (click)="handleAction({type: 'Return'})">返回上层</button>
          <button class="btn btn-outline-info" (click)="handleAction({type: 'UploadFiles'})">上传文件</button>
          <button class="btn btn-outline-info" (click)="handleAction({type: 'UploadFolder'})">上传文件夹</button>
          <button class="btn btn-outline-info" (click)="handleAction({type: 'CreateDir'})">新建文件夹</button>
          <button class="btn btn-outline-danger" (click)="handleAction({type: 'Remove'})">删除</button>
          <button class="btn btn-outline-info" (click)="handleAction({type: 'Refresh'})">刷新</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="layout-main">
    <div class="container">
      <div class="col-lg-6 offset-lg-3">
        <ag-grid-angular style="width: 100%; height: 400px;" class="ag-bootstrap"
          [gridOptions]="gridOptions" [rowData]="rowData"
          [columnDefs]="columnDefs" rowSelection="single"
          enableColResize
          enableFilter
          enableSorting
          suppressRowClickSelection>
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="layout-footer">

  </div>
</div>